{% load staticfiles %}
{% load widget_tweaks %}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header" style="background:lightblue;">
		  	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 id="studentModalTitle" class="modal-title">Edit Task</h4>
		</div>
		<div class="modal-body">
			<form method="post" action="{% url 'task_edit_url' task_manager.id %}">{% csrf_token %}
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group">
							<div class="input-group-addon">
								{{ form.task_name.label }}
							</div>
							{{ form.task_name|attr:"class=form-control input-sm" }}
						</div>	
						{{ form.task_name.errors }}
					</div>
					<div class="col-sm-12" style="padding-top: 12px;">
						{{ form.task_description.label }}
						{{ form.task_description|attr:"class=form-control input-sm" }}
						{{ form.task_description.errors }}
					</div>
			 	 	<div class="modal-footer col-sm-12">
			          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
			          <button class="btn btn-sm btn-primary" type="submit">Update</button>
			        </div>
		        </div>
			</form>
		</div>
	</div>
</div>